pre {
 background-color: blue;
 background-image:url("images/javas.png");
 border-style:ridge;
}
p {
 background-color: blue;
 border-style:ridge;
}
body {
 background-color: blue;
 border-style:ridge;
}
