pre {
 background-color: light-blue;
 background-image:url('images/javas.png');
 border-style:ridge;
}
p {
 background-color: light-blue;
 border-style:ridge;
}
body {
 background-color: light-blue;
 border-style:ridge;
}
